.editChannel {
    & h2 {
        text-align: center;
        padding-bottom: 20px;
    }
    .lengthDesc {
        font-size: 12px;
        opacity: 0.8;
        padding-bottom: 4px;
    }

    .btnSave {
        margin-top: 20px;
        & span {
            width: 200px;
        }
    }
    .select {
        margin-top: 10px;
    }
}
