.select {
    width: 256px;
    min-height: 48px;
    .out {
        .name {
            font-weight: 500;
            font-size: 18px;
            color: var(--main-black);
        }
        justify-content: space-between;
    }

    cursor: pointer;
    .inner {
        background-color: #fff;
        z-index: 100;

        .single {
            padding: 5px 0;
        }
    }
    margin-bottom: 24px;
}
