.edit {
    width: 100%;
    .content {
        width: 100%;
        justify-content: space-between;
    }
    .personal {
        width: 516px;
        width: 100%;
        margin-right: 64px;
    }

    .contact {
        width: 516px;
        width: 100%;
    }
    .btn {
        width: 128px;
    }
}

.save {
    & img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}

.input {
    .name {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;
    }
    margin-bottom: 24px;
}
.cate {
    color: #caced8;
    font-size: 17px;
    margin-bottom: 20px;
}
