@import url(./reset.css);

body {
  font-size: 20px;
}

.container {
  max-width: 1361px;
  margin: 0 auto;
}

.df {
  display: flex;
}
.dfc {
  display: flex;
}
.dfca {
  display: flex;
  align-items: center;
  justify-content: center;
}
