@import url(./reset.css);

:root {
    --main-black: #000;
    --main-white: #fff;
    --primary-one: #083a50;
    --primary-tow: #fff;
    --secandery-one: #26b893;
    --secandery-two: #caced8;
    --secandery-three: #e8eaee;
}

body {
    font-size: 20px;
    font-family: var(--InterFont);
    font-weight: 400;
    background-color: #fff;
    color: #000;
}
a {
    color: #000;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.df {
    display: flex;
}
.dfc {
    display: flex;
    justify-content: center;
}
.dfca {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dfa {
    display: flex;
    align-items: center;
}
.dfba {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dfj {
    display: flex;
    justify-content: space-between;
}
.dfja {
    display: flex;
    justify-content: space-around;
}

input {
    border: none;
    outline: none;
}
button {
    border: none;
    background-color: transparent;
}

input[type='radio'] {
    accent-color: black;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.a {
    align-items: center;
}
