@import url(./reset.css);

body {
    font-size: 20px;

    background-color: #dad7d7;
}

.container {
    max-width: 1361px;
    margin: 0 auto;
}

.df {
    display: flex;
}
.dfc {
    display: flex;
    justify-content: center;
}
.dfca {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    outline: none;
}
button {
    border: none;
}
