.home {
    .lineSort {
        margin: 0 10px;
        border-radius: 15px;
        background: #f6f6f6;
        backdrop-filter: blur(7.5px);
        height: 120px;

        .selectsSorts {
            width: 100%;
            display: flex;
            justify-content: space-around;
            .btn {
                width: 210px;
                height: 61px;
            }
        }
    }
    .content {
        width: 100%;
        justify-content: space-between;
        .smarts {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            justify-items: center;
            @media screen and (max-width: 1169px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.container {
    max-width: 1361px;
    margin: 0 auto;
}
