.home {
    .globalNews {
        align-items: center;
        justify-content: space-around;

        .text {
            opacity: 0.9;
            max-width: 562px;
            font-weight: 600;
            color: #2a2a2a;
            font-size: 58px;
            font-family: var(--poppinsFont), sans-serif;
        }
    }
    .lineSort {
        background: rgba(1, 48, 71, 0.85);
        backdrop-filter: blur(7.5px);
        height: 120px;

        .selectsSorts {
            width: 100%;
            display: flex;
            justify-content: space-around;
            .btn {
                width: 210px;
                height: 61px;
            }
        }
    }
}

.container {
    max-width: 1361px;
    margin: 0 auto;
}
