.process {
    width: 100%;
    .buy {
    }
}
.carts {
    width: 536px;
}

.order {
    & h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: var(--main-black);
        margin-bottom: 40px;
    }
    margin-bottom: 112px;
}
.process {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    width: 536px;
    height: 100%;
    .containerOrderCard {
        width: 408px;
        margin: 0 auto;
        padding: 56px 0;
        .orderTitle {
            font-weight: 700;
            font-size: 20px;
            line-height: 80%;
            color: #111;
            margin-bottom: 40px;
        }
        .form {
            .promo {
                font-weight: 500;
                font-size: 14px;
                line-height: 114%;
                color: #545454;
                label {
                    display: inline-block;
                    margin-bottom: 12px;
                }
            }
        }
        .resultShop {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 16px;
            color: #545454;
            margin-bottom: 16px;
        }
        .btnOrder {
            margin-top: 48px - 16px;
            height: 56px;
        }
        .warning {
            text-align: center;
            line-height: 150%;
            font-weight: 600;
            .error {
                color: red;
                font-size: 20px;
            }
            .bonus {
                color: yellow;
                font-size: 18px;
            }
            .promo {
                color: yellow;
                font-size: 16px;
            }
        }
    }
}
