.blocks {
    background: hsl(0, 0%, 96%);
    border-radius: 9px;
    .inner {
        padding: 24px 10px;
        width: 266px - 16px;
        height: 450px;
        .like {
            margin-bottom: 16px;
            justify-content: flex-end;
        }
        .name {
            padding-top: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: var(--main-black);
        }
        .price {
            padding-top: 16px;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--main-black);
        }
        .btn {
            margin: 15px 0 0 0;
            & span {
                width: 188px;
                height: 48px;
            }
        }
    }
}
