.cart {
    margin-top: 10px;
    justify-content: space-between;
    .name {
        width: 191px;
        font-size: 18px;
        font-weight: 700;
    }
    .count {
        font-size: 18px;
        & button {
            font-size: 24px;
            background-color: transparent;
            &:last-child {
                font-size: 20px;
            }
        }
        & span {
            border: 0.5px solid #d9d9d9;
            border-radius: 4px;
            padding: 8px 16px;
            width: 40px;
            height: 32px;
        }
    }
    .price {
        font-size: 20px;
        font-weight: 500;
        width: 100px;
    }
    .x {
        opacity: 0.6;
        font-size: 16px;
        margin-left: 20px;
        cursor: pointer;
    }
}
