.header {
    padding: 16px 0;
    height: 88px;
    .inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            width: 372px;
        }
        .logoType {
            margin-right: 35px;
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
        .bottomHeader {
            max-width: 1361px;
            margin: 0 auto;
            align-items: center;
            justify-content: space-between;
        }
        .usersOption {
            width: 144px;
            height: 32px;
            & span {
                position: relative;
                & .cartCount {
                    width: 20px;
                    height: 20px;
                    background-color: #000;
                    border-radius: 50%;
                    color: #fff;
                    position: absolute;
                    bottom: -5px;
                    right: -7px;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
    }
    & hr {
        background-color: black;
        opacity: 0.3;
    }
    .cart {
        color: black;
        font-weight: 400;
    }
}
