.nav {
    width: 369px;
    justify-content: space-between;
    & ul {
        & li {
            a {
                font-weight: 500;
                font-size: 15px;
                color: black;
                opacity: 0.3;
                transition: opacity 0.5s ease;
                &:hover {
                    opacity: 1;
                }
            }
        }
        justify-content: space-between;
    }
}
