.review {
    .text {
        color: var(--main-black);
        font-weight: 500;
        font-size: 24px;
    }
    .allResults {
        margin-top: 48px;
        .block {
            border-radius: 15px;
            background: #fafafa;
            width: 184px;
            .inner {
                padding: 32px 0;
                .reviewNum {
                    font-weight: 500;
                    font-size: 56px;
                }

                .lengthReview {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 107%;
                    text-align: center;
                }
            }
            margin-right: 60px;
        }
        .static {
            .reviewItem {
                font-weight: 500;
                color: var(--main-black);
                font-size: 18px;
                .cate {
                    width: 120px;
                }
                .line {
                    width: 100%;
                }
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
                .count {
                    width: 30px;
                }
            }
        }
    }
}
