.header {
    margin-top: 16px;
    height: 88px;
    .inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            position: relative;
            width: 372px;
            .searchResult {
                position: absolute;
                bottom: -58px;
                width: 100%;
                max-height: 500px;
                height: 100%;
            }
        }
        .logoType {
            margin-right: 35px;
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
        .bottomHeader {
            max-width: 1361px;
            margin: 0 auto;
            align-items: center;
            justify-content: space-between;
        }
        .usersOption {
            width: 144px;
            height: 32px;
            & span {
                position: relative;
                & .cartCount {
                    width: 20px;
                    height: 20px;
                    background-color: #000;
                    border-radius: 50%;
                    color: #fff;
                    position: absolute;
                    bottom: -5px;
                    right: -7px;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            .menuProfile {
                position: relative;
                .menuProfileBottom {
                    position: absolute;
                    right: 0;
                    bottom: -90px;
                    background-color: #fff;
                    border: 1px solid black;
                    width: 150px;
                    border-radius: 6px;
                    min-width: 100px;
                    z-index: 99;
                    padding: 5px;
                }
            }
        }
    }
    & hr {
        background-color: black;
        opacity: 0.3;
    }
    .cart {
        color: black;
        font-weight: 400;
    }
    .notLength {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
}
