.delivery {
    & h2 {
        font-weight: 600;
        font-size: 20px;
        color: #17183b;
    }
    .rates {
        margin-top: 32px;
    }
    .nextBtn {
        justify-content: flex-end;
        margin-top: 64px;
        & .cnr {
            height: 64px;
            width: 208px + 208px + 24px;
            gap: 24px;
        }
    }
}
