.process {
    .select {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #17183b;
        margin-bottom: 32px;
    }
    .nextBtn {
        justify-content: flex-end;
        margin-top: 64px;
        & .cnr {
            height: 64px;
            width: 208px + 208px + 24px;
            gap: 24px;
        }
    }
    .btnAdd {
        margin-top: 48px - 24px;
    }
}

.added {
    .add {
        margin-bottom: 15px;
    }
    .theNumberAddress {
        gap: 10px;
    }
    .btns {
        gap: 10px;
    }
    .warning {
        padding: 10px 0;
        text-align: center;
        color: red;
        font-size: 14;
    }
    .btn {
        height: 50px;
    }
}

.thank {
    & img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}

.stages {
    margin-top: 10px;
    margin-bottom: 72px;
}
