.process {
    .stages {
        margin-top: 10px;
        display: flex;
        margin-bottom: 72px;
    }
    .select {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #17183b;
        margin-bottom: 32px;
    }
}

.added {
    .add {
        margin-bottom: 15px;
    }
    .theNumberAddress {
        gap: 10px;
    }
    .btns {
        width: 100px;
        gap: 10px;
    }
}
