.process {
    .stages {
        margin-top: 10px;
        display: flex;
        margin-bottom: 72px;
    }
    .select {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #17183b;
        margin-bottom: 32px;
    }
}

.added {
    .add {
        margin-bottom: 15px;
    }
    .theNumberAddress {
        gap: 10px;
    }
    .btns {
        gap: 10px;
    }
    .warning {
        padding: 10px 0;
        text-align: center;
        color: red;
        font-size: 14;
    }
    .btn {
        height: 50px;
    }
}
