.channel {
    align-items: center;
    .left {
        gap: 12px;
        align-items: center;
        & img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
        .name {
            cursor: pointer;
        }
        .subscribers {
            font-weight: 400;
            font-size: 12px;
        }
    }
}
